body {
  background-color:#464436;
  font-family: "Rodoto", "Arial", sans-serif;
  color: black;
  
}
.title_1 {
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1.3px;

}
.title_2 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 1.3px;
  margin-top: -5px;
  margin-bottom: -5px;
  
  
}

.background-white {
  width: 1000px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: white;
}
.main-header {
  width: auto;
  height: 100px;
  color:black;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.site-navigation {
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.site-logo {
  font-weight: 900;
  margin-left: 35px;
}
  
main, footer {
  color:black;
}

.circle {
 width: 370px;
	height: 370px;
	background-color:#e6b049;
	-moz-border-radius: 185px;
	-webkit-border-radius: 185px;
	border-radius: 185px;
  position: absolute;
  left: 470px;
  top: 200px;

}

.lorem {
  width: 210px;
  height:70px;
  margin-bottom: 15px;
  font-size: 12px;
  text-align: left;
  position: absolute;
  left: 290px;
  top: 270px;
  
}
span {
 position: absolute;
  left: 290px;
  top:330px;
  font-size: 14px;
  
}
.less {
  font-size: 62px;
  font-weight: 900;
  position: absolute;
  left: 740px;
  top: 330px;
  line-height: 0.8;
  
}

.social-list {
  list-style: none;
  display: flex;
  justify-content:flex-start;
  gap: 10px;
  margin-left: 100px;
  margin-top: -90px;
  
}

.container {
  position: absolute;
  left:20px;
  top:680px;
}

.arlington {
  width:200px;
  margin-left: 770px;
  margin-top: 385px;
  font-size: 16px;
  
}

.man {
  position: absolute;
  left:590px;
  top:285px;
}
